* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'RobotoRegular', 'ClearSansLight', Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: normal;
	font-family: 'ClearSansLight', Helvetica, Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
	font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%
}

/*--- HEADER ---*/

header {
	opacity: 0;
	z-index: 999;
}

.main_header {
	-o-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-webkit-display: flex;
	display: -webkit-box;
	display: flex;
	-o-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-o-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 76px;
	background: #ffffff;
	position: relative;
	line-height: 76px;
	padding: 0 38px;
}

/*menu*/
.logo_boosteroid {
	width: 25%;
}
nav {
	width: 75%;
}

nav li span,
nav li a {
	text-decoration: none;
	color: #1B1B27;
}

nav li span {
	cursor: pointer;
}

.pointer_down {
	background: url('../img/pointer-down.png') no-repeat 98% 50%;
	padding-right: 10px;
}

.pointer_up {
	background: url('../img/pointer-up.png') no-repeat 98% 50%;
}

nav>ul {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
	z-index: 999;
}

nav>ul>li:nth-child(1) {
	list-style-type: none;
	color: #1B1B27;
	text-align: center;
}

nav>ul>li:nth-child(1){
	width: 66.666%;
}

nav>ul>li:nth-child(2){
	width: 33.333%;
}

nav>ul li {
	list-style-type: none;
}

nav>ul>li ul {
	display: flex;
}

nav>ul>li:nth-child(1)>ul {
	display: flex;
	justify-content: center;
}

nav>ul>li:nth-child(2)>ul {
	display: flex;
	justify-content: flex-end;
}

nav>ul>li>ul>li {
	margin-right: 28px;
}

nav>ul>li>ul>li:last-child {
	margin-right: 0;
}

/*'download app' button*/

nav>ul>li:nth-child(1)>ul>li:nth-child(4) a {
	position: relative;
	background: -webkit-linear-gradient(45deg, #2096D9 0%, #5C35EE 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	padding-left: 15px;
}

nav>ul>li:nth-child(1)>ul>li:nth-child(4) a:before {
	position: absolute;
	content: '';
	top:50%;
	left: 0;
	transform: translateY(-50%);
	width: 10px;
	height: 17px;
	background: url(../img/download-app.svg) center 2px no-repeat;
}

/*------*/


/*----'sign in' & go 'cloud buttons'------*/
nav>ul>li:nth-child(2)>ul li:nth-child(1) a {
	font-size: 14px;
	color: #2293DA;
	text-transform: capitalize;
}

nav>ul>li:nth-child(2)>ul li:nth-child(2) a {
	background: -webkit-gradient(linear, left top, right top, from(#2293DA), to(#5C35EE));
	background: linear-gradient(90deg, #2293DA 0%, #5C35EE 100%);
	text-transform: uppercase;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	padding: 10px 14px;
	border-radius: 10px;
}
/*-----*/

/*gradient link*/
.gradient_link{
	background: -webkit-linear-gradient(45deg, #2096D9 0%, #5C35EE 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/**/

.submenu {
	top: 76px;
	left: 50%;
	width: 100%;
	position: absolute;
	text-transform: capitalize;
	display: flex;
	background: #F8F7FF;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 50px;
	line-height: 50px;
	z-index: 999;
}

.submenu li {
	list-style-type: none;
	margin-right: 65px;
}

.submenu li:nth-child(7) {
	margin-right: 0;
}

/*mobile_nav_menu*/
.mobile_burger_menu {
	display: none;
	width: 30px;
	height: 15px;
	position: relative;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.mobile_burger_menu span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#2293DA), to(#5C35EE));
	background: linear-gradient(90deg, #2293DA 0%, #5C35EE 100%);
	border-radius: 1.5px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.mobile_burger_menu span:nth-child(1) {
	top: 0px;
}

.mobile_burger_menu span:nth-child(2) {
	top: 8px;
}

.mobile_burger_menu span:nth-child(3) {
	top: 16px;
}

.mobile_burger_menu.open span:nth-child(1) {
	top: 8px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.mobile_burger_menu.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.mobile_burger_menu.open span:nth-child(3) {
	top: 9px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

/*All sections*/
#slogan,
#video,
#our_solutions,
#internet {
	height: calc(100vh);
}


/**/

/* SECTION 1 SLOGAN */

#slogan,
#gaming {
	height: calc(100vh - 76px);
	min-height: 100%;
}

.light_bg {
	background: white;
}

.dark_bg {
	background: #171723 url(../img/main-bg-dark.png) center center/cover no-repeat;
}

.dark_bg:after {
	content: '';
	background: #171723;
}

.slogan_wrap,
.gaming_wrap {
	-o-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-webkit-display: flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-o-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	position: relative;
}

.slogan_wrap>img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #171723;
	opacity: 0;
}

.slogan_wrap>div {
	z-index: 1;
}

h1 {
	font-size: 72px;
	background: -webkit-linear-gradient(45deg, #2096D9 0%, #5C35EE 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
}

#slogan>div>div>div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 32px;
}

#slogan>div>div>div a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 12px;
}
 /* 'get started button' button*/
#slogan>div>div>div a:nth-child(1) {
	background: -webkit-gradient(linear, left top, right top, from(#2293DA), to(#5C35EE));
  background: linear-gradient(90deg, #2293DA 0%, #5C35EE 100%);
  text-align: center;
  padding: 10px 31px;
	border-radius: 10px;
	margin-right: 10px;
}
/*---------*/

/*'download app' button */
#slogan>div>div>div a:nth-child(2) {
	position: relative;
	border: 2px solid transparent;
  background: #171723;
  background-clip: padding-box;
	border-radius: 10px;
	text-align: center;
	padding: 10px 11px 10px 36px;
}

#slogan>div>div>div a:nth-child(2):after {
	content: '';
	position: absolute;
	top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
	background: linear-gradient(90deg, #2293DA 0%, #5C35EE 100%);
	z-index: -1;
  border-radius: 10px;
}

#slogan>div>div>div a:nth-child(2):before {
	content: '';
	width: 10px;
	height: 17px;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	background: url(../img/download-app-white.svg) center 2px no-repeat;
}
/*-----------*/

.slogan_wrap div,
.gaming_wrap div,
.scroller {
	-o-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-webkit-display: flex;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-o-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.scroller a {
	opacity: 0;
}

.slogan_wrap>div,
.gaming_wrap div:nth-of-type(1) {
	-webkit-box-flex: 4;
	-ms-flex-positive: 4;
	flex-grow: 4;
}

.slogan_wrap div:nth-of-type(2),
.gaming_wrap div:nth-of-type(2) {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.slogan_gradient_text,
.gaming_gradient_text {
	font-size: 72px;
	line-height: 88px;
	text-transform: uppercase;
	background: -webkit-linear-gradient(45deg, #2096D9 0%, #5C35EE 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 24px;
}

.slogan_wrap div p,
.gaming_description {
	display: block;
	font-family: 'RobotoLight';
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
	font-size: 20px;
	text-align: center;
	color: #9B99AD;
	margin: 0 auto;
}

.to_uppercase {
	text-transform: uppercase;
}


/*SECTION VIDEO*/

#video {
	position: relative;
}

.video_block {
	display: inline-block;
	position: relative;
}

.play_button {
	background-image: url('../img/big-play-button.svg');
	background-repeat: no-repeat;
	width: 59px;
	height: 59px;
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	margin: auto;
	background-size: contain;
	background-position: center;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	cursor: pointer;
}

.play_button:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.video_wrapper {
	max-width: 1270px;
	min-width: 320px;
	position: absolute;
	top: 50%;
	right: 50%;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	text-align: center;
	color: #fff;
}

.video_block video {
	display: block;
	background: #000;
	width: 100%;
	height: 100%;
	/* width: 1072px;
	height: 550px; */
	border-radius: 10px;
}

.controls {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 98%;
	height: 48px;
	background: #000;
	border-radius: 10px;
	padding: 15px;
}

#playpause {
	border: none;
	width: 13px;
	height: 13px;
	background-image: url('../img/play-button.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

#full-screen {
	border: none;
	width: 19px;
	height: 19px;
	background-image: url('../img/full-screen.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	outline: none;
	background-size: cover;
	cursor: pointer;
}

/* seek-bar*/
input[type=range] {
	-webkit-appearance: none;
	width: 90%;
	height: 4px;
	background-color: #9B99AD;
	border-radius: 2px;
	cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 90%;
	height: 4px;
	background: #9B99AD;
	border: none;
	border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #C4C4C4;
	margin-top: -3px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #9B99AD;
}

input[type=range]::-moz-range-track {
	width: 90%;
	height: 4px;
	background: #9B99AD;
	border: none;
	border-radius: 2px;
}

input[type=range]::-moz-range-thumb {
	border: none;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #C4C4C4;
}

input[type=range]::-ms-track {
	width: 90%;
	height: 4px;
	background: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #C4C4C4;
	border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
	background: #C4C4C4;
	border-radius: 10px;
}

input[type=range]::-ms-thumb {
	border: none;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #C4C4C4;
}

input[type=range]:focus::-ms-fill-lower {
	background: #888;
}

input[type=range]:focus::-ms-fill-upper {
	background: #ccc;
}


/*SECTION OUR_SOLUTIONS*/

#our_solutions,
#tranding_products {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 60px 38px;
}

#tranding_products {
	background: #11141B;
	margin: 0 0;
	padding: 76px 38px 30px;
}


.solutions_wrapper,
.tranding_products_wrapper {
	max-width: 100vw;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

.solutions_wrapper {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.solutions_header {
	margin-bottom: 40px;
}

.solutions_header h2,
.tranding_products_wrapper h2 {
	font-weight: 500;
	line-height: normal;
	font-size: 36px;
	text-transform: uppercase;
	color: white;
	/* #1B1B27;*/
	margin-bottom: 50px;
}

.solutions_header h2 {
	color: #1B1B27;
}

.solutions_header p {
	font-family: 'RobotoLight';
	font-weight: normal;
	line-height: 23px;
	font-size: 16px;
	color: #9B99AD;
}

.solutions_container {
	width: 100%;
	height: 512px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* -webkit-box-orient: vertical; */
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	/* -ms-flex-preferred-size: 33%;
	flex-basis: 33%; */
}

.solutions_container>div {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	/* flex-grow: 1; */
	width: 33%;
	height: 163px;
	margin: 2px;
	background-color: #fff;
	position: relative;
	padding: 40px;
	cursor: pointer;
	border-radius: 10px;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.solutions_container>div:hover {
	justify-content: flex-start;
}

.solutions_container>div a {
	position: relative;
	display: none;
	opacity: 0;
	font-size: 12px;
	background: -webkit-linear-gradient(45deg, #2096D9 0%, #5C35EE 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s linear;
}

.solutions_container>div:after {
	border-radius: 10px;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -999;
	-webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.solutions_container>div h3 {
	width: 60%;
	font-weight: 500;
	font-size: 24px;
	color: #1B1B27;
	text-transform: capitalize;
	position: relative;
}

.solutions_container>div:before {
	position: absolute;
	content: '';
	top: 40px;
	left: 40px;
	display: block;
	width: 56px;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(#2096D9), to(#5C35EE));
	background: linear-gradient(90deg, #2096D9 0%, #5C35EE 100%);
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.solutions_container>div:nth-child(1),
.solutions_container>div:nth-child(6) {
	height: 330px;
}

.solutions_container>div:nth-child(3) {
	background: #fff url('../img/graphic-bg.png') no-repeat left bottom;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.solutions_container>div:nth-child(4) {
	background: #fff url('../img/audio-bg.png') no-repeat left bottom;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.solutions_container>div:nth-child(5) {
	background: #fff url('../img/video-bg.png') no-repeat left bottom;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.solutions_container>div:nth-child(3):hover {
	background-position-y: 240px;
}

.solutions_container>div:nth-child(4):hover {
	background-position-y: 240px;
}

.solutions_container>div:nth-child(5):hover {
	background-position-y: 240px;
}

.solutions_container>div:hover {
	z-index: 1;
	-webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.025);
	transform: scale(1.025);
}

.solutions_container>div:hover:before {
	position: absolute;
	content: '';
	top: 40px;
	left: 40px;
	display: block;
	width: 85%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(#2096D9), to(#5C35EE));
	background: linear-gradient(90deg, #2096D9 0%, #5C35EE 100%);
}

.solutions_container>div:hover .icons {
	display: block;
	opacity: 1;
}

.solutions_container>div:hover a {
	display: block;
	opacity: 1;
}

.solutions_container>div p {
	width: 70%;
	line-height: 17px;
	font-size: 12px;
	color: #9B99AD;
	margin-top: 5px;
}

/*SECTION INTERNET*/

#internet {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

#boostore,
#left_side_img,
#right_side_img {
	height: 100vh;
}

/* .boostore_wrapper, */
#boostore,
#left_side_img,
#right_side_img,
.section_three_wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 38px;
}

.internet_wrapper {
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 38px;
}

#boostore,
#left_side_img,
#right_side_img {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#boostore {
	overflow: hidden;
}

#boostore,
#left_side_img {
	position: relative;
	justify-content: flex-start;
}

#right_side_img {
	position: relative;
	justify-content: flex-end;
}

#boostore img,
#left_side_img img {
	width: 50%;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	border-radius: 10px 0 0 10px;
	transition: all 0.5s linear;
}

#right_side_img img {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	margin-left: -38px;
	border-radius: 0 10px 10px 0;
}

.boostore_light {
	background: white;
}

.boostore_dark {
	background: #1B1B27;
}

.internet_boosteroid {
	width: auto;
}

.content,
.right_side {
	width: 50%;
}

.right_side {
	position: relative;
	max-height: 447px;
	height: 100%;
}

.gaming_process {
	position: absolute;
	top: 0;
	left: 0;
	background: #C4C4C4;
	max-height: 447px;
	height: 100%;
	max-width: 668px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 10px 0px 0px 10px;
}

.high_frame_rate {
	position: absolute;
	top: 0;
	right: 0;
	background: #C4C4C4;
	max-height: 447px;
	height: 100%;
	max-width: 668px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 0px 10px 10px 0px;
}

.gaming_process p,
.high_frame_rate p {
	line-height: 23px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}

.internet_content {
	width: 30%;
}

.internet_boosteroid img,
.boostore_image img {
	max-width: 100%;
	visibility: hidden;
}

.boostore_image img {
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	border-radius: 10px 0px 0px 10px;
}

.boostore_image {
	width: 701px;
	height: 524px;
	position: relative;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.boostore_image img {
	position: absolute;
	top: 5%;
	left: 10%;

}

.boostore_content {
	width: 50%;
	padding-right: 20px;
}

.theme {
	margin-top: 40px;
}

.visit_boostore_block {
	margin-top: 20px;
}

.boostore_content h3,
.internet_content h3,
.opportunities div h3 {
	width: 90%;
	font-weight: 500;
	line-height: normal;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #1B1B27;
}

.boostore_content h3 {
	color: white;
}

.internet_wrapper img {
	align-self: flex-end;
}

.content div,
.section_three_content {
	width: 65%;
	margin: 0 auto;
}

.content div h3,
.section_three_content h3 {
	font-weight: 500;
	line-height: normal;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.boostore_content p,
.internet_content p,
.opportunities div p {
	width: 88%;
	line-height: 23px;
	font-size: 16px;
	color: #9B99AD;
}

.content div p,
.section_three_content p {
	line-height: 23px;
	font-size: 16px;
	color: #9B99AD;
	margin-bottom: 20px;
}

.boostore_content p {
	width: 100%;
}

.visit_boostore_block p,
.theme p {
	margin-bottom: 10px;
}

/*SWITCH*/
.can-toggle {
	position: relative;
	max-width: 152px;
}

.can-toggle label {
	cursor: pointer;
}

.can-toggle *,
.can-toggle *:before,
.can-toggle *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.can-toggle input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.can-toggle input[type="checkbox"][disabled]~label {
	pointer-events: none;
}

.can-toggle input[type="checkbox"][disabled]~label .can-toggle__switch {
	opacity: 0.4;
}

.can-toggle input[type="checkbox"]:checked~label .can-toggle__switch:before {
	content: attr(data-unchecked);
	color: white;
	left: 0;
}

.can-toggle input[type="checkbox"]:checked~label .can-toggle__switch:after {
	content: attr(data-checked);
}

.can-toggle label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.can-toggle label .can-toggle__label-text {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-left: 32px;
}

.can-toggle label .can-toggle__switch {
	position: relative;
}

.can-toggle label .can-toggle__switch:before {
	content: attr(data-checked);
	position: absolute;
	top: 0;
	text-transform: uppercase;
	text-align: center;
}

.can-toggle label .can-toggle__switch:after {
	content: attr(data-unchecked);
	position: absolute;
	z-index: 5;
	text-transform: uppercase;
	text-align: center;
	background: #171723;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.can-toggle input[type="checkbox"]:checked~label:hover {
	color: #171722;
}

.can-toggle input[type="checkbox"]:checked~label .can-toggle__switch {
	background-color: #171722;
}

.can-toggle input[type="checkbox"]:checked~label .can-toggle__switch:after {
	color: #171722;
	background: #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/**/
/**/
.can-toggle label .can-toggle__label-text {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.can-toggle label .can-toggle__switch {
	-webkit-transition: background-color 0.5s cubic-bezier(0, 1, 0.5, 1);
	transition: background-color 0.5s cubic-bezier(0, 1, 0.5, 1);
	background-color: #E5E5E5;
}

.can-toggle label .can-toggle__switch:before {
	color: #000;
}

.can-toggle label .can-toggle__switch:after {
	transition: -webkit-transform 0.5s cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 1, 0.5, 1);
	transition: transform 0.5s cubic-bezier(0, 1, 0.5, 1);
	transition: transform 0.5s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.5s cubic-bezier(0, 1, 0.5, 1);
	transition: transform 0.5s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
	color: #fff;
}

.can-toggle input[type="checkbox"]:checked~label .can-toggle__switch:after {
	-webkit-transform: translate3d(72px, 0, 0);
	transform: translate3d(72px, 0, 0);
}

.can-toggle input[type="checkbox"] .can-toggle__switch:before {
	color: #000;
}

.can-toggle label {
	font-size: 14px;
}

.can-toggle label .can-toggle__switch {
	height: 26px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 148px;
	flex: 0 0 148px;
	border-radius: 10px;
}

.can-toggle label .can-toggle__switch:before {
	left: 80px;
	font-size: 12px;
	line-height: 26px;
	width: 70px;
}

.can-toggle label .can-toggle__switch:after {
	top: -2px;
	left: -1px;
	border-radius: 10px;
	width: 80px;
	line-height: 30px;
	font-size: 12px;
}

/*SWITH*/

.visit_boostore_block a,
.opportunities div a,
.tranding_products_content a {
	display: inline-block;
	background: -webkit-gradient(linear, left top, right top, from(#2293DA), to(#5C35EE));
	background: linear-gradient(90deg, #2293DA 0%, #5C35EE 100%);
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding: 10px 14px;
	border-radius: 10px;
	text-decoration: none;
	width: 163px;
	margin-top: 20px;
}

/*SECTION PUSH YOUR PRODUCT TO NEW LEVEL*/



#opportunities {
	height: 60vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.opportunities div {
	margin: 0 auto;
	text-align: center;
}

.opportunities div h3,
.opportunities div p {
	width: 100%;
}

.opportunities div p {
	width: 50%;
	margin: 0 auto 26px auto;
}

/*FOOTER*/

footer {
	height: auto;
	background: #1B1B27;
	padding: 60px 38px;
	visibility: hidden;
}

.footer_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	height: auto;
}

footer div h4 {
	font-size: 12px;
	text-transform: uppercase;
	color: #9B99AD;
	margin-bottom: 16px;
}

footer .footer_content ul li {
	font-family: 'RobotoLight';
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

footer ul li a {
	text-decoration: none;
	color: #fff;
}

.rights,
.legal_terms {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
}

.rights {
	justify-content: flex-start;
}

#subscribe {
	display: flex;
	width: 80%;
	border: 1px solid #9B99AD;
	background: transparent;
	justify-content: space-between;
	margin: 24px 0;
}

#subscribe input {
	width: 80%;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	outline: 0;
	border: none;
	padding: 10px;
}

#subscribe input::placeholder {
	color: #fff;
}

#subscribe button {
	position: relative;
	width: 50px;
	min-height: 100%;
	background: transparent;
	border: none;
	outline: 0;
	cursor: pointer;
	transition: all 0.3s linear;
	margin: 0 auto;
}

#subscribe button:before {
	content: '';
	position: absolute;
	top: calc(50% - 1px);
	right: 0;
	display: inline-block;
	width: 8px;
	height: 8px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg) translateX(-50%);
	/* transform: translateX(-50%); */
}
#subscribe button:after {
	content: '';
	position: absolute;
	top: calc(50%);
	right: 2px;
	display: inline-block;
	width: 50px;
	height: 1px;
	background: #fff;
	transform: translateX(0);
	transition: all 0.3s linear;
}

#subscribe button:hover {
	width: 30px;
}
#subscribe button:hover:after {
	width: 30px;
}

/* #subscribe button:hover {
	background: transparent url(../img/subscribe-arrow-small.svg) center center no-repeat;
} */

.about,
.support,
.out_solutions {
	-ms-flex-preferred-size: 20%;
	flex-basis: 20%;
}


.rights p {
	font-size: 12px;
	color: #9B99AD;
	margin-top: auto;
}

.legal_terms .social_network ul {
	height: 16px;
}

.legal_terms .social_network ul li {
	display: inline-block;
	margin-right: 15px;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.legal_terms .social_network ul li:last-child {
	margin-right: 0px;
}

/*SECTION TRENDING GAMES*/

/*Slider*/
.slider {
	width: 50%;
	margin: 100px auto;
}

.slick-slide {
	width: 190px;
}

.slick-slide {
	width: 190px;
	margin: 0px 10px;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}


/**/

.product {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 190px !important;
	height: 240px;
	background: #1B222C;
	-webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin: 0 auto;
}

.product img {
	width: 177px;
	height: 177px;
	background: white;
	border-radius: 10px;
}

.product h4,
.product p {
	width: 177px;
}

.product h4 {
	font-weight: 500;
	line-height: normal;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.product p {
	line-height: 17px;
	font-size: 12px;
	color: #9B99AD;
	/* text-transform: capitalize; */
}

.tranding_products_content {
	margin-top: 50px;
}

.tranding_products_content p {
	line-height: 23px;
	font-size: 16px;
	color: #9B99AD;
	margin-bottom: 20px;
}

.tranding_products_content p:nth-child(1) {
	margin-bottom: 0;
}

.tranding_products_content p:nth-child(3) {
	margin-bottom: 0;
}

/* slider buttons dark theme*/
.slick-prev:before,
.slick-next:before {
	color: white;
}

.slick-prev:before {
	content: '←';
	color: black;
}

.slick-prev:before,
.slick-next:before {
	color: white;
}

/*slider dots darg theme*/
.slick-dots li.slick-active button:before {
	color: white;
}

.slick-dots li button:before {
	color: white;
}